*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-block-size: 100%;
  text-size-adjust: 100%;
}

body {
  min-block-size: 100vh;
  min-block-size: 100dvb;
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

img,
svg {
  display: block;
  max-inline-size: 100%;
}
